<div class="card promoting-card col-2">
    <div>
        <div class="pt-4 pb-4 text-nowrap">
            <h5 class="card-title font-weight-bold mb-2 pt-2 text-center overflow-hidden">{{ document.document.title }}</h5>
        </div>
    </div>
    <div class="view overlay">
        <a href="{{ path('shopping', {'id': document.document.id}) }}">
            <img class="card-img-top rounded-0 img-thumbnail"
                 src="https://wp-fr.oberlo.com/wp-content/uploads/sites/4/2019/09/barn-image.jpg"
                 alt="Card image cap">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </a>
    </div>
    <div class="card-body">
        <div class="collapse-content">
            <h5 class="card-title font-weight-bold text-success mb-2 p-0 pb-2">{{ document.document.referenceNumber }}</h5>
            <div class="row">
                <div class="col-md-6 btn-group">
                    <a class="btn btn-info text-light" aria-expanded="false"
                       href="{{ path('full_document', {'id': document.document.id}) }}">View</a>
                    <a class="btn btn-success text-light" aria-expanded="false"
                       href="{{ path('add_cart', {'id': document.document.id}) }}">Add</a>
                </div>
            </div>

        </div>
    </div>
</div>